
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
aside{
    grid-column: 1/2;
    background-color: rgb(255, 255, 255);
}
section{
    grid-column: 2/5;
    background-color: rgb(15, 103, 175);
}



.justificado{
    text-align: justify;
}
.centrado{
    text-align: center;
}

/*  sección de estilos para el menú*/

.menu {
    display: flex;
}
nav ul {
    list-style: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
.menu li {
    width: 100%;
    text-align: center;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background:rgb(0, 0, 0);
    height: 25px;
    text-decoration:none;
}

.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display:block;
}
.menu a:hover {
    background:linear-gradient(30deg,rgb(2, 151, 2),rgb(15, 103, 175),black);
    color: rgb(0, 0, 0);

}

form{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-login{
    height: 120px;
    margin-bottom: 1rem;
}


.input-container{
    height: 150px;
    width: 100%;
    position: relative;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 1rem 0;
}


form{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.input-container{
    height: 40px;
    width: 100%;
    position: relative;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
}

.icon-input{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    z-index: 2;
    opacity: 0.6;
}

input[type="text"], input[type="password"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    text-align: center;
    outline: none;
    border: 1px solid white;
    background-color: rgba(12, 12, 12, 0.2);
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: 0.7px;
}

input::placeholder{
    color: black;
    letter-spacing: 0.7px;
}

input[type="button"]{
    height: 50px;
    width: 100%;
    background:linear-gradient(30deg,rgb(255, 255, 255),rgb(2, 151, 2),rgb(255, 255, 255));
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

input[type="button"]:hover{
    background:linear-gradient(30deg,rgb(2, 151, 2),rgb(15, 103, 175),black);
    color: rgb(0, 0, 0);
}




@media (max-width: 500px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    header{
        flex-direction: column;/* coloca los elementos verticales. */
        align-items: flex-start;
        
    }
}


